@font-face {
  font-family: 'uma';
  src: url('Title_Medium.otf');
  /* src: url('Title_Bold.woff'); */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'uma';
  margin: 0;
  padding: 0;
  
}

.background_cover {
  background-image: url("./assets/background/bg_0056_00111.png");
  opacity:0.5;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-1;
}

.banpick_container {
  width: 100%;
  height: 500px;
  display: flex;
  flex: 3.7;
  /* overflow-y: auto; */
}

.banpick_container .banpick_item_container {
  /* display: flex; */
  width: 100%;
  height: 400px;
  border: solid;
}

.banpick_container .banpick_item_container .ban_item_container {
  height: 30%;
  /* width: 35%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* border-style: solid; */
}

.banpick_container .banpick_item_container .ban_item_container .ban_character_namecard {
  padding-top: 10px;
  width: 30%;
}

.banpick_container .banpick_item_container .pick_item_container {
  height: 70%;
}

.body_container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 13%;
}

.banner_image {
  height: 100px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.character_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 3;
  height: 60%;
  width: 100%;
  overflow-y: auto;
  border: solid;
  /* margin-top: 200px; */
  /* justify-content: space-around; */
}

.character_mid_container {
  flex: 0.3;
  width: 100%;
  border: solid;
}

.character_item_wrapper_cover {
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.character_item_wrapper {
  margin: 5px 5px 5px 5px;
  width: 98px;
  position: relative;
  text-align: center;
  align-items: center;
  font-size: 10px;
  white-space: pre;
  overflow: auto;
}

.character_item_wrapper.banned {
  opacity: 30%;
  background-color: yellow;
}

/* character image */
.character_item_wrapper .character_image {
  max-width: 100%;
  height: 100px;
}

/* character 한글 이름 */
.character_item_wrapper .character_h_name {
  width: 100%;
}

/* character 영문 이름 */
.character_item_wrapper .character_e_name {
  width: 100%;
}