@font-face {
  font-family: 'uma';
  src: url('Title_Medium.otf');
  /* src: url('Title_Bold.woff'); */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'uma';
  margin: 0;
  padding: 0;
  
}

.background_cover {
  background-image: url("./assets/background/background_cover.png");
  opacity:0.5;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-1;
}

.header_container {
  text-align: center;
}

.header_container .ban_pick_status {
  font-size: x-large;
}

.banpick_container {
  width: 100%;
  height: 500px;
  display: flex;
  flex: 3.7;
  /* overflow-y: auto; */
}

.banpick_container .banpick_item_container {
  /* display: flex; */
  width: 100%;
  height: 450px;
  border: solid;
  text-align: center;
}

.banpick_container .banpick_item_container .banpick_round_text_container {
  position: absolute;
}
.banpick_container .banpick_item_container .ban_item_container {
  height: 30%;
  display: flex;
  /* width: 35%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* border-style: solid; */
  /* background-image: url("./assets/background/ban_background.png");
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: contain; */
}

.banpick_container .banpick_item_container .pick_item_container {
  height: 23%;
  display: flex;
  border-top: solid;
}

.banpick_container .banpick_item_container .ban_item_container .ban_character_namecard {
  padding-top: 35px;
  width: 35%;
  height: 58%;
  margin: 0 auto;
}

.banpick_container .banpick_item_container .pick_item_container .pick_character_namecard {
  padding-top: 15px;
  width: 30%;
  height: 75%;
  margin: 0 auto;
}

.banpick_container .banpick_item_container .pick_item_container .pick_character_namecard.super_pass {
  padding-top: 15px;
  width: 30%;
  height: 75%;
  margin: 0 auto;
  background-color: red;
}

.body_container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 13%;
  padding-top: 5%;
}

.load_button {
  position: absolute;
  width: 50px;
  height: 50px;
}

.banner_image {
  /* height: 100px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block; */
  position: absolute;
  left: 23%;
  top: -10%;
  width: 55%;
  height: 60%;
  z-index: -10;
}

.character_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 3;
  height: 60%;
  width: 100%;
  overflow-y: auto;
  border: solid;
  /* margin-top: 200px; */
  /* justify-content: space-around; */
}

.random_btn {
  /* width: 100px;
  height: 70%;
  margin-top: auto;
  margin-bottom: auto; */
  width: 100px;
  margin-top: -5px;
  height: 70px;
}

.next_race_btn {
  width: 100px;
  margin-top: -10px;
  height: 70px;
  /* height: 30px; */
  /* margin-top: auto; */
  /* margin-bottom: auto; */
}
.ban_ready_btn {
  width: 100px;
  margin-top: -10px;
  height: 70px;
  /* height: 30px; */
  /* margin-top: auto; */
  /* margin-bottom: auto; */
}
.pick_ready_btn {
  width: 100px;
  margin-top: -10px;
  height: 70px;
  /* height: 30px; */
  /* margin-top: auto; */
  /* margin-bottom: auto; */
}

.character_mid_container {
  flex: 0.3;
  width: 100%;
  border: solid;
  display: flex;
  flex-direction: row;
}

.character_find_input {
  width: 300px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.character_item_wrapper_cover {
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.character_item_wrapper {
  margin: 5px 5px 5px 5px;
  width: 98px;
  position: relative;
  text-align: center;
  align-items: center;
  font-size: 10px;
  white-space: pre;
  overflow: auto;
}

.character_item_wrapper.banned {
  opacity: 30%;
  background-color: yellow;
}

.character_item_wrapper.picked {
  opacity: 30%;
  background-color: red;
}

/* character image */
.character_item_wrapper .character_image {
  max-width: 100%;
  height: 100px;
}

/* character 한글 이름 */
.character_item_wrapper .character_h_name {
  width: 100%;
}

/* character 영문 이름 */
.character_item_wrapper .character_e_name {
  width: 100%;
}